<div class='footer'>
	

<footer class="section footer-classic context-dark bg-image" style="background: black;">
          
        <div class="row no-gutters social-container">
          <div class="col-lg-3 col-sm-6"><a class="social-inner" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i><p>
			  Facebook</p>
          </a></div>
          <div class="col-lg-3 col-sm-6"><a class="social-inner" href="https://www.instagram.com"><i class="fab fa-instagram"></i>
          <p>
			  instagram</p></a></div>
          <div class="col-lg-3 col-sm-6"><a class="social-inner" href="#"><i class="fab fa-twitter"></i> <p>Twitter</p></a></div>
          <div class="col-lg-3 col-sm-6"><a class="social-inner" href="#"><i class="fab fa-google-plus"></i><p>
			  
			   google</p></span></a></div>
        </div>
        
    
      </footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>
</body>
</html>
